{% extends 'base.html' %}

{% block title %}О компании - EventHub{% endblock %}

{% block content %}
    <h1>О нашей компании</h1>
    <p>Мы - EventHub, платформа для управления мероприятиями, которая помогает вам создавать и находить уникальные мероприятия в вашем городе.</p>
    
    <h2>Наши ценности</h2>
    <ul>
        <li>Превосходное качество организации мероприятий</li>
        <li>Инновации и творчество в каждом проекте</li>
        <li>Клиентоориентированный подход</li>
    </ul>
    
    <h2>Контакты</h2>
    <p>Свяжитесь с нами по любым вопросам и предложениям:</p>
    <ul>
        <li>Электронная почта: <a href="mailto:info@eventhub.com">info@eventhub.com</a></li>
        <li>Телефон: +1 (123) 456-7890</li>
    </ul>
{% endblock %}
