{% extends 'base.html' %}

{% block title %}Изменить пароль - EventHub{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Изменить пароль</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="old_password">Текущий пароль:</label>
            {{ form.old_password(class="form-control", id="old_password", placeholder="Введите текущий пароль") }}
        </div>
        <div class="form-group">
            <label for="new_password">Новый пароль:</label>
            {{ form.new_password(class="form-control", id="new_password", placeholder="Введите новый пароль") }}
        </div>
        <div class="form-group">
            <label for="confirm_password">Подтвердите новый пароль:</label>
            {{ form.confirm_password(class="form-control", id="confirm_password", placeholder="Подтвердите новый пароль") }}
        </div>
        <button type="submit" class="btn btn-primary">Изменить пароль</button>
    </form>
</div>
{% endblock %}
