{% extends 'base.html' %}

{% block title %}Каталог мероприятий{% endblock %}

{% block content %}
  <h2>Каталог мероприятий</h2>
  {% if current_user.is_authenticated %}
        <a href="{{ url_for('create_event') }}" class="btn btn-primary mt-2">Создать мероприятие</a>
  {% endif %}
  <form method="POST" action="{{ url_for('event_catalog') }}" class="mb-4">
    {{ form.csrf_token }}
    <div class="row g-3">
      <div class="col-md-3">
        {{ form.title.label(class="form-label") }}
        {{ form.title(class="form-control") }}
      </div>
      <div class="col-md-3">
        {{ form.date_time.label(class="form-label") }}
        {{ form.date_time(class="form-control", type="date") }}
      </div>
      <div class="col-md-3">
        {{ form.location.label(class="form-label") }}
        {{ form.location(class="form-control") }}
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Фильтровать</button>
  </form>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for event in events %}
      <div class="col">
        <div class="card h-100">
          <img src="{{ url_for('static', filename='uploads/' + event.photo_filename) }}" class="card-img-top" alt="{{ event.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ event.title }}</h5>
            <p class="card-text">{{ event.date_time.strftime('%Y-%m-%d') }}</p>
            <p class="card-text">{{ event.location }}</p>
            <p class="card-text">{{ event.description }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
