{% extends "base.html" %}

{% block title %}Главная - EventHub{% endblock %}

{% block content %}
    <h1>Добро пожаловать на EventHub!</h1>
    <p>Мы предоставляем уникальные мероприятия для вас.</p>
    
    <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-inner">
          {% for i in range(0, events|length, 3) %}
          <div class="carousel-item {% if i == 0 %}active{% endif %}">
              <div class="d-flex justify-content-around">
                  {% for event in events[i:i+3] %}
                  <div class="event">
                      <img src="{{ url_for('static', filename='uploads/' + event.photo_filename) }}" class="d-block w-100"
                          alt="{{ event.title }}">
                          <h5>{{ event.title }}</h5>
                          <p>{{ event.description }}</p>
                  </div>
                  {% endfor %}
              </div>
          </div>
          {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
  </div>
  <script src="{{ url_for('static', filename='carousel.js') }}"></script>
  
  
{% endblock %}
