{% extends "base.html" %}

{% block title %}Личный кабинет - EventHub{% endblock %}

{% block content %}
<section class="user-section mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">Добро пожаловать, {{ user.username }}!</h1>
                        <p>Информация о вашем аккаунте:</p>
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Имя:</strong> {{ user.username }}</li>
                            <li class="list-group-item"><strong>Email:</strong> {{ user.email }}</li>
                        </ul>
                        <div class="mt-4">
                            <a href="{{ url_for('edit_profile') }}" class="btn btn-primary">Редактировать профиль</a>
                            <a href="{{ url_for('change_password') }}" class="btn btn-primary">Изменить пароль</a>
                            <a href="{{ url_for('logout') }}" class="btn btn-danger">Выход</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
